body {
    display: flex;
    justify-content: center;
    background-color: #e96a6a;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 35px;
    padding: 10px;
    font-size:4vw;
    line-height: 1.0;
    color: #070808;
  }

  nav {
    margin-bottom: 30px;
    background-image: linear-gradient(#cee236,#36bae2);
    border-radius: 10px;
  }
  
  .logo-img {
    max-width: 40%;
    margin: 0 auto;
  }

  h1 {
    font-size: 22px;
    font-weight: 700;
  }
  
  .pokemon-list {
    padding-inline-start: 20;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 10px;
  }

  .button-class {
    background-color: rgb(254, 254, 254);
    border: none;
    color: rgb(31, 8, 8);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
    font-size: 18px;
    margin: 3px 2px;
    transition-duration: 0.6s;
    cursor: crosshair;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 170px;
    transform: skew(-30deg);
    background-color: rgb(48, 13, 13);
    color: rgb(246, 242, 242);
    border: 3px solid rgb(11, 11, 140);
    overflow: hidden;
}
.container-flexbox {
  display: flex; 
  justify-content: space-between; 
  flex-wrap: wrap; 
}
/* Desktops */
@media (min-width:768px) { .container-block { padding: 4% 8% } }

/* Mobiles */
@media (max-width:767px) { .container-block { padding: 11% 8% } }

@media (min-width:768px) {
  .item-col-3 { width: 29% }
}
@media all and (max-width: 767px) {
  .item-col-3 {width: 100%;}
};
  