body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e96a6a;
    font-family: "Roboto", sans-serif;
    padding: 20px;
    font-size:5vw;
    line-height: 1.8;
    color: #070808;
  }